version: '3.9'

services:
  db:
    image: postgres:15-bullseye
    container_name: database
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_PORT: "${POSTGRES_PORT}"
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - ./db-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD","pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      crm_network:

  adminer:
    image: adminer:latest
    container_name: adminer
    restart: unless-stopped
    env_file: .env
    ports:
      - "8081:8080"
    depends_on:
      - db
    networks:
      crm_network:

networks:
  crm_network:
    driver: bridge

volumes:
  db-data: